body {
  margin: 0;
  margin: 0 auto;
  overflow-x: unset;
}
.header {  
  display: flex;  
  padding: 10px 20px 10px 20px;  
  background: white;
  height: 30px;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}
.header img {
  height: 30px;
  margin: 0;
  display: inline;
}
.header h1 {
  font-family: fantasy;
  font-weight: normal;
  display: inline;
  color: hotpink;
  margin: 0;
}
.header-logo {
  cursor: pointer;
}
.header input {
  width: 350px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #dbdbe2;
}
.header input::placeholder {
  color: #dbdbe2;
}
.header-menu {
  font-size: .7em;
  display: flex;
  align-items: center;
  margin: 0;
}
.header-menu h2 {
  margin: 0;
}
.header-menu img {
  border-radius: 50%;
  height: 30px;
  padding-left: 5px;
}