body {
  margin: 0;
  margin: 0 auto;
  overflow-x: unset;
}
.header {  
  display: flex;  
  padding: 10px 20px 10px 20px;  
  background: white;
  height: 30px;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}
.header img {
  height: 30px;
  margin: 0;
  display: inline;
}
.header h1 {
  font-family: fantasy;
  font-weight: normal;
  display: inline;
  color: hotpink;
  margin: 0;
}
.header-logo {
  cursor: pointer;
}
.header input {
  width: 350px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #dbdbe2;
}
.header input::placeholder {
  color: #dbdbe2;
}
.header-menu {
  font-size: .7em;
  display: flex;
  align-items: center;
  margin: 0;
}
.header-menu h2 {
  margin: 0;
}
.header-menu img {
  border-radius: 50%;
  height: 30px;
  padding-left: 5px;
}

.nav {
  position: relative;
  width: 60px;
  height: 100vh;
  background-color: rgba(255, 0, 0, .65);
}
.nav-details {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 10px 0;
}
.nav p {
  color: white;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
}
.nav img {
  height: 20px;
  margin: 0;
}
.home {
  padding-top: 20px;
}

.hero {
  margin: 30px 0 0 20px;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 60px;
  width: 1120px;
  height: 600px;
  border: 1px solid red;
  display: grid;
  grid-gap: 20px 30px;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: 15px 134px 15px 134px 15px 134px; 
}
.hero img {
  width: 200px;
  height: 134px;
}
.hero-item1 {
  grid-column: 2;
  grid-row: 2;
  /* grid-column: 1 ; */
}
.hero-item2 {
  grid-row: 2;
  grid-column: 1;
}
.hero-item3 {
  grid-row: 2;
  grid-column: 3;
}
.hero-item4 {
  grid-row: 2;
  grid-column: 4;
}
.hero-item5 {
  grid-row: 2;
  grid-column: 5;
}
.hero-span1 {
  grid-row: 1;
  grid-column: 1;
}
.hero-span2 {
  grid-row: 3;
  grid-column: 1;
}
.hero-span3 {
  grid-row: 5;
  grid-column: 1;
}

.hero-item-details {
  position: absolute;
  top: 100px;
  background: rgba(255, 0, 0, .5);
  width: 200px;
  height: 70px;
  color: white;
}
.hero-item-details p {
  margin: 3px 0;
  font-size: 12px;
  padding: 0 10px 10px 10px;
}
.hero-item-details h3 {
  margin: 3px 0;
  padding-left: 10px;
}


@media screen and (max-width: 700px) {
  .header-logo,
  .header-menu {
    display: none;
  }
  .hero {
    width: 89vw;
  }
}